{% verbatim %}
<script id="search-select-template" type="text/x-handlebars-template">
	<option selected disabled>
		{{#trans}}label-select-choose{{/trans}}
	</option>

	<optgroup label="{{#trans}}label-basic-filters{{/trans}}">
		{{#each basicFilters}}
		<option value="{{filterId}}">{{filterName}}</option>
		{{/each}}
	</optgroup>

	<optgroup label="{{#trans}}label-country-filters{{/trans}}">
		{{#each countryFilters}}
		<option value="{{filterId}}">{{filterName}}</option>
		{{/each}}

		{{#unless countryFilters}}
		<option disabled>{{#trans}}message-missing-basic-filter{{/trans}}</option>
		{{/unless}}
	</optgroup>

	<optgroup label="{{#trans}}label-category-filters{{/trans}}">
		{{#each categoryFilters}}
		<option value="{{filterId}}">{{filterName}}</option>
		{{/each}}

		{{#unless categoryFilters}}
		<option disabled>{{#trans}}message-missing-category-filter{{/trans}}</option>
		{{/unless}}
	</optgroup>
</script>

<script id="filter-display-template" type="text/x-handlebars-template">
	<div class="card filter-row" id="filter-row-{{meta.filterId}}">
		<div class="card-body">
			<div class="row">
				<div class="col-sm">
					<h4>{{meta.filterName}}</h4>
				</div>
				<div class="col-sm">
					<div class="filter-value-description">
						<h4>
							{{#each descriptions}}
								<span style="color: #AAA;">{{this}}</span>
							{{/each}}
						</h4>
					</div>
				</div>
				<div class="col-sm text-right">
					<button type="button" class="btn btn-lg btn-outline-info edit-filter" data-filterid="{{meta.filterId}}"><i class="far fa-edit"></i> {{#trans}}label-edit{{/trans}}</button>
		        	<button type="button" class="btn btn-lg btn-outline-danger remove-filter" data-filterid="{{meta.filterId}}"><i class="fas fa-times"></i> {{#trans}}label-delete{{/trans}}</button>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="new-search-checkbox-template" type="text/x-handlebars-template">
	<form id="new-search-form">
		{{#each filterValues.item}}
		<div class="form-check">
		  <input class="form-check-input validate-filter" type="checkbox" value="{{filterValueId}}" id="filter-{{filterValueId}}" name="new-filter-value[]">
		  <label class="form-check-label" for="filter-{{filterValueId}}">
		   	{{filterValueName}}
		  </label>
		</div>
		{{/each}}
	</form>
</script>

<script id="new-search-combobox-template" type="text/x-handlebars-template">
	<form id="new-search-form">
		<select class="validate-filter" name="new-filter-value[]">
			<option disabled selected>{{#trans}}label-select-choose{{/trans}}</option>
			{{#each filterValues.item}}
			<option value="{{filterValueId}}">{{filterValueName}}</option>
			{{/each}}
		</select>
	</form>
</script>

<script id="new-search-textbox-template" type="text/x-handlebars-template">
	<form id="new-search-form">
		{{#if filterIsRange}}
			<label for="start-value">{{#trans}}label-min-value{{/trans}}:</label>
			<input type="text" class="form-control validate-filter" id="start-value" name="new-filter-value[]">
			<label for="end-value">{{#trans}}label-max-value{{/trans}}:</label>
			<input type="text" class="form-control validate-filter" id="end-value" name="new-filter-value[]">
		{{else}}
			<input type="text" class="form-control validate-filter" name="new-filter-value[]">
		{{/if}}
	</form>
</script>

<script id="new-search-category-template" type="text/x-handlebars-template">
	<form id="new-search-form">
		<div id="category-picker-list">

		</div>
		<input type="hidden" class="form-control" name="new-filter-value[]" id="category-id" value="0">
	</form>
</script>


<script id="new-search-category-picker-list-template" type="text/x-handlebars-template">
	
	{{#if parentCategory}}
		<a href="#" class="category-to-pick" data-category-id="{{parentCategory.catParent}}">
			<i class="fas fa-caret-left"></i> {{#trans}}label-go-back{{/trans}} ({{parentCategory.catName}})
		</a><br>
	{{/if}}

	{{#each categories}}
		<a href="#" class="category-to-pick" data-category-id="{{catId}}">{{catName}}</a><br>
	{{/each}}

	<p class="chosen-category-info"></p>
	
</script>

<script id="new-search-user-id-template" type="text/x-handlebars-template">
	<form id="new-search-form">
		<input type="text" class="form-control" id="user-id-picker-username">
		<input type="hidden" class="form-control" name="new-filter-value[]" id="user-id" value="0">
	</form>
</script>
{% endverbatim %}