{% extends 'base.html.twig' %}

{% block meta_title %}
	{% trans %}page-title.search.list{% endtrans %}
{% endblock %}
{% block title %}
	{% trans %}page-title.search.list{% endtrans %}
	<a href="{{ path("search_new") }}" class="btn btn-outline-info">
		<i class="fas fa-plus"></i> Utwórz
	</a>
{% endblock %}

{% block body %}
    <table class="table table-hover" id="search-list">
	   <thead class="thead">
	    <tr>
	      <th scope="col">{% trans %}label.search-name{% endtrans %}</th>
	      <th scope="col">{% trans %}label.actions{% endtrans %}</th>
	    </tr>
	  </thead>
	  <tbody>
    	
		{% for search in user.searches %}

			<tr data-search-id="{{ search.id }}">
				<td>{{ search.name }}</td>
				<td>
					<a class="btn btn-info" href="{{ path("search_edit", {id: search.id}) }}">
						<i class="far fa-edit"></i> {% trans %}label.edit{% endtrans %}
					</a>
					<button type="button" data-search-id="{{ search.id }}" class="btn btn-danger remove-search">
						<i class="fas fa-times"></i> {% trans %}label.delete{% endtrans %}
					</button>
				</td>
			</tr>

		{% endfor %}

		</tbody>
    </table>


{% endblock %}

{% block javascripts %}
	<script src="/js/_dependencies/display-services/search-list-display-service.js"></script>
	<script src="/js/_dependencies/services/search-list-service.js"></script>
	<script src="/js/search-list/_dependencies.js"></script>
	<script src="/js/search-list/_functions.js"></script>
{% endblock %}