<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex,nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
        <title>{% block meta_title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/custom.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {{ include('loader.html.twig') }}
        {{ include('navbar.html.twig') }}

        <div class="container">
            <h1>
                {% block title %}{% endblock %}
            </h1>

            {{ include('flash_messages.html.twig') }}

            {% block body %}{% endblock %}
        </div>

        {{ include('footer.html.twig') }}

        <input type="hidden" name="csrf-token" value="{{ csrf_token('ajax') }}">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        <script src="/js/_external-dependencies/jquery.i18n.js"></script>
        <script src="/js/_external-dependencies/jquery.i18n.messagestore.js"></script>
        <script src="/js/_external-dependencies/jquery.i18n.fallbacks.js"></script>
        <script src="/js/_external-dependencies/jquery.i18n.parser.js"></script>
        <script src="/js/_external-dependencies/jquery.i18n.emitter.js"></script>
        <script src="/js/_external-dependencies/jquery.i18n.language.js"></script>
        
        <script src="/js/_dependencies/_global/preloader.js"></script>
        <script src="/js/global-dependencies.js"></script>
        <script src="/js/global.js"></script>


        
        {% block javascripts %}{% endblock %}
    </body>
</html>
