{% extends 'base.html.twig' %}

{% block meta_title %}
	{% trans %}page-title.item.list{% endtrans %}
{% endblock %}
{% block title %}
	{% trans %}page-title.item.list{% endtrans %}
{% endblock %}

{% block body %}
	<table class="table table-hover" id="item-list">
	   <thead class="thead">
	    <tr>
	      <th scope="col"><i class="far fa-image"></i></th>
	      <th scope="col">{% trans %}label.item-title{% endtrans %}</th>
	      <th scope="col" class="d-none d-sm-table-cell">{% trans %}label.item-price{% endtrans %}</th>
	      <th scope="col" class="d-none d-sm-table-cell">{% trans %}label.item-time-found{% endtrans %}</th>
	      <th scope="col">{% trans %}label.actions{% endtrans %}</th>
	    </tr>
	  </thead>
	  <tbody>
    	{% for item in items %}
    		<tr data-item-id="{{ item.id }}">
				<td>
					<a target="_blank" href="http://allegro.pl/show_item.php?item={{ item.auctionId }}">
						{% if item.auctionImage|length %}
							<img class="auction-photo" src="{{ item.auctionImage }}" />
						{% else %}
							-
						{% endif %}
					</a>
				</td>
				<td>
					<a target="_blank" href="http://allegro.pl/show_item.php?item={{ item.auctionId }}">
						{{ item.auctionTitle }} <i class="fas fa-external-link-alt small-icon"></i>
					</a>
				</td>
				<td class="d-none d-sm-table-cell">
					{{ item.auctionPrice|number_format(2, ',', ' ') }} zł
				</td>
				<td class="d-none d-sm-table-cell">
					{% if "now"|date('Y-m-d') == item.timeFound|date('Y-m-d') %}
						{% trans %}label.today{% endtrans %},
					{% elseif "1 day ago"|date('Y-m-d') == item.timeFound|date('Y-m-d') %}
						{% trans %}label.yesterday{% endtrans %},
					{% else %}
						{{ item.timeFound|localizeddate('medium', 'none') }},
					{% endif %}
					
					{{ item.timeFound|localizeddate('none', 'short') }}
				</td>
				<td>
					<button type="button" data-item-id="{{ item.id }}" class="btn btn-danger remove-item">
						<i class="fas fa-times"></i> {% trans %}label.delete{% endtrans %}
					</button>
				</td>
			</tr>
		{% endfor %}
    
		</tbody>
    </table>

{% if items is not empty %}
    <div class="pagerfanta">
    	{{ pagerfanta(items, 'twitter_bootstrap4_translated', {routeName: 'item_list_paginated', css_container_class: 'pagination justify-content-center'}) }}
    </div>
{% endif %}

{% endblock %}

{% block javascripts %}
	<script src="/js/_dependencies/display-services/item-display-service.js"></script>
	<script src="/js/_dependencies/services/item-service.js"></script>
	<script src="/js/item-list/_dependencies.js"></script>
	<script src="/js/item-list/_functions.js"></script>
{% endblock %}