{% extends 'base.html.twig' %}

{% block meta_title %}Ustawienia{% endblock %}
{% block title %}Ustawienia{% endblock %}

{% block body %}
	<div class="card bg-light">
		<div class="card-body">
		    {{ form_start(form) }}
			    {{ form_errors(form) }}
			    {{ form_row(form.email, { 'label': 'Adres e-mail' }) }}
			    <hr>
			    {{ form_row(form.plainPassword.first, { 'label': 'Zmień hasło' }) }}
			    {{ form_row(form.plainPassword.second, { 'label': 'Powtórz hasło' }) }}
			    {{ form_row(form.submit, { 'label': 'Zapisz' }) }}
			{{ form_end(form) }}
		</div>
	</div>



{% endblock %}